{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}
Welcome to Products
{% endblock %}

{% block content %}
{% if empty %}
<h1 class="text-center">Your Cart is Empty, please keep shopping</h1>
{% else %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Count</th>
        <th scope="col">Item</th>
        <th scope="col">Qty</th>
        <th scope="col">Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart.cartitem_set.all %}
      <tr>
        <td>1</td>
        <td><a href="{% url 'products:product_detail' slug=item.product.slug%}">{{item.product.title}}</a>
          <ul>
            {% for variation in item.variation.all %}
            <li>{{variation}}</li>
            {% endfor %}
          </ul>
        </td>
        <td>{{item.quantity}}</td>
        <td>{{item.product.price}}</td>
        <td><a href="{% url 'carts:remove_from_cart' id=item.id %}">Remove</a></td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><p>Total: {{cart.total}}</p></td>
        <td></td>
      </tr>
    </tbody>

  </table>
</div>
{% endif %}
<!-- <h1>{{slug}}</h1>
<p>Hello! Aman it is correct</p> -->
{% endblock %}
