{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block content%}
<div  class="container">
  <div class="row">
      <div class=" col-sm-2">
      </div>
    <div class=" col-sm-8 ">
<div class = "content-section">
<h1> Selling items </h1>
<form class = "site-form" action = "{%url 'check'  %}" method = "post">
    {%csrf_token%}
<!--    if we leave action as empty ,then views function corresponding to the current url will be called.-->
<!--    for security reason-->
    <fieldset class="form-group">
        <legend class = "border-bottom mb-4">Terms and conditions</legend>
         {{ s_form|crispy }}
    </fieldset>
    <div class = "form-group">
        <button class = "btn btn-outline-info" type = "submit">Accept</button>
    </div>
</form>
</div>
    </div>
  </div>
</div>
{%endblock%}