{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block content%}
<div  class="container">
  <div class="row">
      <div class=" col-sm-3">
      </div>
    <div class=" col-sm-5 ">
<div class = "content-section">
<h1> Signin </h1>
<form class = "site-form" action = "{%url 'login'%}" method = "post">
    {%csrf_token%}
<!--    if we leave action as empty ,then views function corresponding to the current url will be called.-->
<!--    for security reason-->
    <fieldset class="form-group">
        <legend class = "border-bottom mb-4">Login</legend>
         {{ form|crispy }}
    </fieldset>
    <div class = "form-group">
        <button class = "btn btn-outline-info" type = "submit">Login</button>
    </div>
</form>
    <div class = "border-top pt-3">
        <small class = "text-muted">
            Don't Have an Account?<a class="ml-2" href="{%url 'signup'%}">Signup</a>
        </small>
    </div>
</div>
    </div>
  </div>
</div>
{%endblock%}