{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block content%}
<div  class="container">
  <div class="row">
      <div class=" col-sm-2">
      </div>
    <div class=" col-sm-7 ">
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
    <div class="media-body">
      <h2 class="account-heading">{{user.username}}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <form class = "site-form"  action = "{%url 'profile_update'%}" method = "post" enctype="multipart/form-data" >
    {%csrf_token%}
<!--    if we leave action as empty ,then views function corresponding to the current url will be called.-->
<!--    for security reason-->
    <fieldset class="form-group">
        <legend class = "border-bottom mb-4">Profile Info</legend>
         {{ u_form|crispy }}
         {{p_form|crispy}}
    </fieldset>
    <div class = "form-group">
        <button class = "btn btn-outline-info" type = "submit">Save changes</button>
    </div>
  </form>
</div>
    </div>
  </div>
</div>
{%endblock%}