{% extends 'base.html' %}
{% block head_title %}
Welcome to
{% endblock %}
{% block content%}
<!-- <main role="main" class="container">
  <div class="jumbotron">
    <h1>{{username}}</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
    <a class="btn btn-lg btn-primary" href="/docs/4.4/components/navbar/" role="button">View navbar docs &raquo;</a>
  </div>
</main> -->
<div class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-sm-4">
      {% for pimage in product.productimage_set.all %}
      {% if pimage.featured %}
      <img src="{{pimage.image.url}}" alt="item-image">
      {% endif %}
      <br/>
      {% endfor %}
      <a href="{% url 'products:product_detail' slug=product.slug %}">{{product.id}}
      {{product.title}}</a>
      {{product.price}}
    </div>
    {% cycle "" "" "</div><br/><hr><div class='row'>" %}
    {% endfor %}
  </div>
</div>
{% endblock%}
